VIKUNJA_SERVICE_PUBLICURL=http://<the public url where vikunja is reachable>
VIKUNJA_DATABASE_HOST=db
VIKUNJA_DATABASE_PASSWORD=changeme
VIKUNJA_DATABASE_TYPE=postgres
VIKUNJA_DATABASE_USER=vikunja
VIKUNJA_DATABASE_DATABASE=vikunja
VIKUNJA_SERVICE_JWTSECRET=<a super secure random secret>
VIKUNJA_SERVICE_ENABLEREGISTRATION=true